*{
    margin: 0px;
    padding: 0px;
    margin-bottom: -5px;
}
img{
    width: 250px;
}
a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    background-color: purple;
    padding: 20px;
}